.u-block-bf35-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bf35-3 {
  width: 40px;
  padding-top: 40px;
}

.u-block-bf35-4 {
  width: 40px;
  padding-top: 40px;
}

@media (max-width: 1199px) {
  .u-block-bf35-3 {
    width: 58px;
  }

  .u-block-bf35-4 {
    width: 58px;
  }
}

@media (max-width: 991px) {
  .u-block-bf35-3 {
    width: 44px;
  }

  .u-block-bf35-4 {
    width: 44px;
  }
}

@media (max-width: 767px) {
  .u-block-bf35-3 {
    width: 41px;
  }

  .u-block-bf35-4 {
    width: 41px;
  }
}

@media (max-width: 575px) {
  .u-block-bf35-3 {
    width: 35px;
  }

  .u-block-bf35-4 {
    width: 35px;
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("images/83365237_3196143053734085_4939368422266896384_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 842px;
  margin-top: 0;
}

.u-section-1-1 .u-group-1 {
  position: relative;
  min-height: 651px;
  height: auto;
  width: 940px;
  margin: 59px auto 85px;
}

.u-section-1-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1-1 .u-line-1 {
  position: relative;
  height: 140px;
  transform-origin: center top 0px;
  width: 3px;
  margin: 304px auto 0;
}

.u-section-1-1 .u-text-1 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 59px 0 0;
}

.u-section-1-1 .u-text-2 {
  position: relative;
  font-size: 8rem;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1-1 .u-btn-1 {
  position: relative;
  text-transform: uppercase;
  border-radius: 31px;
  margin: 32px auto -143px;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-group-1 {
    width: 775px;
    height: auto;
  }

  .u-section-1-1 .u-line-1 {
    width: 2px;
    transform: rotate(359.995deg);
  }

  .u-section-1-1 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-group-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-line-1 {
    width: 1px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 6rem;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-line-1 {
    width: 3px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 4.5rem;
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/lagoeisla.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 842px;
  margin-top: 0;
}

.u-section-1-2 .u-group-1 {
  position: relative;
  min-height: 651px;
  height: auto;
  width: 940px;
  margin: 59px auto 85px;
}

.u-section-1-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1-2 .u-line-1 {
  position: relative;
  height: 140px;
  transform-origin: center top 0;
  width: 6px;
  margin: 30px auto 0;
}

.u-section-1-2 .u-text-1 {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  margin: 59px 0 0;
}

.u-section-1-2 .u-text-2 {
  position: relative;
  font-size: 8rem;
  margin: 10px 0 0;
}

.u-section-1-2 .u-btn-1 {
  position: relative;
  text-transform: uppercase;
  border-radius: 31px;
  margin: 32px auto 30px;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-group-1 {
    width: 775px;
    height: auto;
  }

  .u-section-1-2 .u-line-1 {
    transform: rotate(359.995deg);
    width: 5px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-line-1 {
    width: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-group-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 6rem;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-btn-1 {
    margin-bottom: 65px;
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-line-1 {
    width: 3px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 4.5rem;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 49px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("images/el-salvador-1-1024x576.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 842px;
  margin-top: 0;
}

.u-section-1-3 .u-group-1 {
  position: relative;
  min-height: 651px;
  height: auto;
  width: 940px;
  margin: 59px auto 85px;
}

.u-section-1-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1-3 .u-line-1 {
  position: relative;
  height: 140px;
  transform-origin: center top 0;
  width: 3px;
  margin: 30px auto 0;
}

.u-section-1-3 .u-text-1 {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  margin: 59px 0 0;
}

.u-section-1-3 .u-text-2 {
  position: relative;
  font-size: 8rem;
  margin: 10px 0 0;
}

.u-section-1-3 .u-btn-1 {
  position: relative;
  text-transform: uppercase;
  border-radius: 31px;
  margin: 32px auto 30px;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-group-1 {
    width: 775px;
    height: auto;
  }

  .u-section-1-3 .u-line-1 {
    width: 2px;
    transform: rotate(359.995deg);
  }

  .u-section-1-3 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-group-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-3 .u-line-1 {
    width: 1px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 6rem;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-3 .u-line-1 {
    width: 3px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 4.5rem;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1275px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 837px;
  position: relative;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px 0 0 630px;
}

.u-section-2 .u-group-1 {
  min-height: 399px;
  height: auto;
  width: 647px;
  margin: -827px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px 40px 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 18px 46px 35px 14px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 612px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/3.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/4.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/5.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/6.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  background-image: url("images/7.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  background-image: url("images/8.jpg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-8 {
  width: 763px;
  height: 430px;
  position: relative;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: 117px 0 0 2px;
}

.u-section-2 .u-group-2 {
  min-height: 247px;
  position: relative;
  height: auto;
  margin: -300px 0 42px 763px;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-weight: 700;
  margin: 25px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 430px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-group-2 {
    margin-left: 563px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    min-height: 129px;
  }

  .u-section-2 .u-image-3 {
    min-height: 129px;
  }

  .u-section-2 .u-image-4 {
    min-height: 129px;
  }

  .u-section-2 .u-image-5 {
    min-height: 129px;
  }

  .u-section-2 .u-image-6 {
    min-height: 129px;
  }

  .u-section-2 .u-image-7 {
    min-height: 129px;
  }

  .u-section-2 .u-image-8 {
    width: 720px;
    height: 406px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 377px;
    margin: -22px auto 11px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-4 {
    min-height: 128px;
  }

  .u-section-2 .u-image-8 {
    width: 540px;
    height: 305px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 79px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 558px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -548px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 192px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 65px 6px 0;
  }
} .u-section-3 {
  min-height: 1603px;
}

.u-section-3 .u-group-1 {
  height: auto;
  min-height: 724px;
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 68px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  margin: 68px 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 33px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/3.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1140px;
  margin: -15px auto -303px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/1.jpeg");
  min-height: 429px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-layout-cell-4 {
  min-height: 429px;
}

.u-section-3 .u-text-4 {
  position: relative;
  font-weight: 700;
  margin: 42px 20px 0;
}

.u-section-3 .u-text-5 {
  position: relative;
  margin: 20px 20px 42px;
}

.u-section-3 .u-image-3 {
  width: 761px;
  height: 420px;
  filter: brightness(0.95);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 285px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1490px;
  }

  .u-section-3 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-3 .u-image-1 {
    min-height: 333px;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
    width: 940px;
  }

  .u-section-3 .u-image-2 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-3 {
    position: relative;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1213px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-3 .u-image-2 {
    min-height: 271px;
    background-position: 93.82% 0%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    width: 720px;
    height: 397px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1114px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 394px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-3 .u-image-2 {
    min-height: 407px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 298px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1004px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    min-height: 242px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    min-height: 256px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 188px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  min-height: 1603px;
}

.u-section-4 .u-group-1 {
  height: auto;
  min-height: 724px;
  margin-top: 105px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 59px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 431px;
  background-image: url("images/31.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1140px;
  margin: -18px auto -303px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/21.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-layout-cell-4 {
  min-height: 439px;
}

.u-section-4 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  position: relative;
  font-weight: 700;
  margin: 47px 20px 0;
}

.u-section-4 .u-text-4 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-4 .u-image-3 {
  width: 761px;
  height: 420px;
  filter: brightness(0.95);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 286px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1490px;
  }

  .u-section-4 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-4 .u-image-1 {
    min-height: 333px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
    width: 940px;
  }

  .u-section-4 .u-image-2 {
    min-height: 354px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    position: relative;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1609px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 250px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-4 .u-image-2 {
    min-height: 271px;
    background-position: 93.82% 0%;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 350px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    width: 720px;
    height: 397px;
    margin-top: 287px;
    margin-right: auto;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1510px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    min-height: 407px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 298px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1682px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    min-height: 242px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 188px;
    margin-top: 306px;
    margin-right: auto;
    margin-bottom: 40px;
  }
} .u-section-5 {
  background-image: url("images/c560ddbc661c8ca66dec90db9e401a7d.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 417px;
}

.u-section-5 .u-group-1 {
  position: relative;
  min-height: 324px;
  height: auto;
  width: 907px;
  margin: 47px auto;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  position: relative;
  letter-spacing: 2px;
  border-radius: 33px;
  text-transform: none;
  margin: 30px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-5 .u-group-1 {
    min-height: 353px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 25px;
  }

  .u-section-5 .u-btn-1 {
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    min-height: 378px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 292px;
    margin-right: auto;
    margin-left: auto;
  }
}